.footer {
  background-color: var(--color-black);
  padding: 20px;
  font-family: var(--font-body);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContent {
  text-align: center;
  color: var(--color-cream);
}
